body{
background:url(trivia.png);
background-attachment:fixed;
}
.Acierto{
background:url(ganador.jpg);	
text-align:center;	
margin-left:400px;
margin-right:400px;

}
#boton{
text-align:center;	
}
#LINK{
background-color:red;
color:black;
text-align:left;
margin-right:1080px;
}
#Nombre{
background-color:red;	
color:black;
margin-right:1000px;
}
#estructura{
background:url(fondo2.jpg);	
}
.h1{
background:url(madera.jpg);
color:black;
font-family:"Calibri";
text-align:center;
margin-left:175px;
margin-right:175px;
}
.pregunta1{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;

}
.pregunta2{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;	
}
.pregunta3{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
.pregunta4{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
.pregunta5{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
.pregunta6{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
.pregunta7{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
.pregunta8{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
.pregunta9{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
.pregunta10{
background:url(madera.jpg);
color:black;
text-align:center;
margin-top:100px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
