body{
background:url(trivia.png);
background-attachment:fixed;
}

.h1{
background-color:black;
color:red;
font-family:"Calibri";
text-align:center;
margin-left:500px;
margin-right:500px;

}
#pregunta{
color:red;
text-align:center;
margin-top:150px;
background-color:black;
margin-left:450px;
margin-right:450px;
	
}
#respuesta{
color:red;
text-align:center;
margin-top:150px;
background-color:black;
margin-left:450px;
margin-right:450px;

	
	
}

